alias ll='ls -la'
alias la='ls -A'
alias l='ls -CF'
alias ls='ls -G'
alias grep='grep --color=auto'

alias glog="git log --graph --pretty=format:'%Cred%h%Creset %an: %s - %Creset %C(yellow)%d%Creset %Cgreen(%cr)%Creset' --abbrev-commit --date=relative --max-count=20"
alias s="echo ''; git status -sb; echo ''"

alias f='open -a Finder ./'

alias ap='ssh -X jlk2225@clac.cs.columbia.edu'
alias cunix='ssh jlk2225@cunix.columbia.edu'

alias dotfiles='/usr/local/bin/git --git-dir=$HOME/.dotfiles/.git --work-tree=$HOME'

